Flask==2.2.3
Werkzeug==2.2.3
Flask-SocketIO==5.3.2
python-dotenv==1.0.0
openai==0.27.8
google-generativeai==0.3.1
anthropic==0.5.0
# eventlet==0.33.3  # eventletを削除またはコメントアウト
gunicorn==20.1.0
python-engineio==4.3.4
python-socketio==5.7.2
gevent             # geventを追加
gevent-websocket   # gevent-websocketを追加
requests
flask-cors
speechrecognition
supabase